html
    head
        title Firebase Auth Test
        link(rel="stylesheet" type="text/css" href="css/style.css")
    
    body
        #main
            #login-display.border
                h1 KittyGlitter
                #cute-kitty
                    img(src="img/kitty.gif")
                .btn
                    button#login-button Login                    
                #logout
                    span Not insertidhere?
                    a(src="") Switch Accounts

        #footer
            .container
                nav#footer-links
                    ul
                        li:a(href="") About Us
                        li:a(href="") Blog
                        li:a(href="") Jobs
                        li:a(href="") Privacy
                span#logo KittyGlitter!